<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit item</title>
</head>
<body>
<form th:method="patch" th:action="@{/items/{id}(id=${editItem.id})}" th:object="${editItem}">
    <lable for="name">Enter name:</lable>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <lable for="description">Enter description:</lable>
    <input type="text" th:field="*{description}" id="description">
    <br/>
    <select th:field="*{type}">
        <option th:value="'TOY'" th:text="TOY"></option>
        <option th:value="'FOOD'" th:text="FOOD"></option>
        <option th:value="'FOOD'" th:text="COSMETICS"></option>
        <option th:value="'FOOD'" th:text="OTHER"></option>
    </select>
    <br/>
    <label>
        <input type="checkbox" th:field="*{present}"/> Is item present in store?
    </label>
    <br/>
    <lable for="type">Choose type of item:</lable>
    <input type="text" th:field="*{type}" id="type">
    <br/>
    <input type="submit" value="Save"/>


</form>
</body>
</html>