<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    table {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {

        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table>
    <thead>
    <tr><th colspan="5">Users</th></tr>
    </thead>
    <tfoot>
    <tr><td colspan="5"><a href="/users/new">Create new user</a></td></tr>
    </tfoot>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Nickname</th>
        <th>Action</th>
    </tr>
    <tr th:each="user:${users}">
        <td><a th:text="${user.id}"></a></td>
        <td><a th:text="${user.name}"></a></td>
        <td><a th:text="${user.surname}"></a></td>
        <td><a th:text="${user.nickname}"></a></td>
        <td><a th:href="@{/users/{id}(id=${user.id})}" th:text="details"></a></td>
    </tr>
</table>
</body>

