<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text= "'id: '+${user.getId()}">  </p>
<p th:text="'name: '+${user.getName()}"></p>
<p th:text="'surname: '+${user.getSurname()}"></p>
<p th:text="'nickname: '+${user.getNickname()}"></p>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.id})}">
    <input type="submit" value="Delete User"/>
</form>

<form th:method="get" th:action="@{/users/edit/{id}(id=${user.id})}">
    <input type="submit" value="Edit user">
</form>

<form th:method="get" th:action="@{/users}">
    <input type="submit" value="All users">
</form>


</body>
</html>